:root {
    --primary: hsl(257, 27%, 26%);
    --secondary: hsl(180, 66%, 49%);
    --light: white;
    --dark: hsl(260, 8%, 14%);
    --gray: rgba(240, 240, 240, 0.938);
    --red: hsl(0, 87%, 67%);
}

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    color: var(--dark);
}

header {
    display: flex;
}

header .part {
    width: 50%;
}

header .part:last-child {
    text-align: right;
}

#logo {
    padding-top: 15px;
}

.loading img {
    width: 25px !important;
    padding-right: 50px;
}

.user {
    display: flex;
    align-items: center;
    align-self: center;
}

.username {
    font-size: 16px;
    padding-left: 10px;
}

.avatar {
    width: 28px !important;
    background-color: var(--gray);
    border-radius: 20px;
}

.element-close {
    display: none !important;
}

#slogan {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#img-working {
    width: 300px;
}

#slogan .text>div {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.text-bigger {
    font-size: 26px;
    font-weight: bold;
}

#action-area {
    margin: 15px;
    padding: 20px;
    background-color: var(--primary);
    background-image: url("../images/bg-boost-mobile.svg");
    border-radius: 7px;
}

#action {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
}

#action input {
    padding: 10px;
    font-size: inherit;
    border-radius: 7px;
    flex: 3;
}

#user-link.error {
    border-width: 3px;
    border-color: var(--red);
}

#message-error {
    color: var(--red);
    font-size: small;
    font-style: italic;
    margin-top: 15px;
}

#links {
    display: flex;
    flex-direction: column;
    padding: 30px 15px;
    background-color: var(--gray);
}

.link {
    display: flex;
    flex-direction: column;
    background-color: var(--light);
    margin: 2px;
    padding: 5px;
}

.link span {
    flex: 1;
}

.link span:first-child {
    flex: 3;
}

.link span:nth-child(2) {
    color: var(--secondary);
}

#statistics {
    background-color: var(--gray);
    text-align: center;
    padding: 80px 0;
    position: relative;
    top: -80px;
    z-index: -1;
    margin-bottom: -80px;
}

#statistics .title {
    font-weight: bold;
    margin-top: 0;
    font-size: 26px;
}

#statistics .separator {
    padding-top: 20px;
}

#statistics .connector {
    width: 10px;
    height: 60px;
    margin-bottom: -20px;
    background-color: var(--secondary);
    position: relative;
    left: calc(50% - 5px);
    top: -20px;
    z-index: -1;
}

#statistics .panel {
    background-color: var(--light);
    margin: 15px;
    border-radius: 7px;
    padding-bottom: 20px;
}

#statistics .circle {
    background-color: var(--primary);
    border-radius: 50%;
    width: 70px;
    height: 70px;
    position: relative;
    left: calc(50% - 35px);
    top: -20px;
}

#statistics .circle img {
    padding: 10px;
}

#statistics .text {
    padding: 0 20px;
}

#boost {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
    font-size: 26px;
    color: var(--light);
    background-color: var(--primary);
    padding: 30px 0;
    background-image: url("../images/bg-boost-mobile.svg")
}

footer {
    background-color: var(--dark);
    color: var(--gray);
    text-align: center;
    padding: 25px 0;
}

footer #logo {
    color: var(--light);
    font-size: 30px;
    font-weight: bold;
}

#footer-menu {
    display: flex;
    flex-direction: column;
}

footer .options {
    display: flex;
    flex-direction: column;
}

footer .title {
    font-weight: bold;
    color: var(--light);
    padding-top: 20px;
}

.footer-submenu {
    margin-top: 8px;
    display: flex;
    flex-direction: column;
    font-size: 13px;
}

.footer-submenu>span {
    margin: 3px 0;
}

.shortly-link {
    cursor: pointer;
}

.shortly-link:hover {
    color: var(--secondary);
}

#social {
    color: var(--light);
    padding: 20px 0;
    display: flex;
    flex-direction: row;
    align-self: center;
}

#social img {
    cursor: pointer;
    padding: 0 10px;
}

.attribution {
    margin: 10px;
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

@media screen and (min-width: 1278px) {
    body {
        margin: 0 100px;
    }
    header {
        margin: 15px;
        align-items: center;
    }
    header .part:first-child {
        flex: 1;
    }
    header .part {
        flex: 4;
    }
    header .part:last-child {
        display: none;
    }
    .avatar {
        background-color: transparent;
    }
    #slogan {
        flex-direction: row-reverse;
        margin: 15px;
    }
    #slogan .part {
        width: 50%;
    }
    .text-bigger {
        font-weight: bold;
        font-size: 50px;
        color: var(--dark);
    }
    #img-working {
        width: 500px;
    }
    .link {
        flex-direction: row;
    }
    #statistics {
        display: flex;
        flex-direction: column;
    }
    #statistics #header {
        align-self: center;
        width: 50%;
    }
    #statistics-circles {
        display: flex;
    }
    .separator, .connector {
        display: none;
    }
    #boost {
        background-image: url("../images/bg-boost-desktop.svg");
    }
    #footer-menu {
        flex-direction: row;
    }
    footer #logo {
        padding-top: 0;
    }
    #footer-menu .options {
        flex: 1;
    }
    footer .title {
        padding-top: 0;
        align-items: normal;
    }
    #social {
        padding-top: 0;
        align-self: baseline;
    }
}

@media screen and (min-width: 1420px) {
    body {
        margin: 0 300px;
    }
}